* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}


.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.navbar nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.portal {
    border: 1px solid white;
    padding: 8px 14px;
    border-radius: 6px;
}

.apply {
    background: #ff6b4a;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: url("hero.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    top: 0;
    left: 0;
}

.hero-content {
    position: relative;
    max-width: 700px;
    margin-left: 80px;
    color: white;
}

.hero-content h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 35px;
    opacity: 0.95;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 14px 26px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

.primary {
    background: #ff6b4a;
    color: white;
}

.secondary {
    border: 2px solid white;
    color: white;
    background: transparent;
}


.programs {
    padding: 100px 80px;
    background: #ffffff;
}

.programs-header {
    text-align: center;
    margin-bottom: 70px;
}

.programs-header h2 {
    font-size: 48px;
    color: #1f2937;
    margin-bottom: 15px;
}

.programs-header p {
    font-size: 18px;
    color: #6b7280;
    line-height: 1.6;
}

.programs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.program-card {
    background: #faf7f2;
    border-radius: 20px;
    padding: 40px;
    transition: 0.3s ease;
}

.program-card:hover {
    transform: translateY(-8px);
}

.icon {
    width: 60px;
    height: 60px;
    background: #ff6b4a;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    margin-bottom: 25px;
}

.program-card h3 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #111827;
}

.program-card p {
    font-size: 16px;
    color: #4b5563;
    line-height: 1.6;
    margin-bottom: 35px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

.card-footer span:first-child {
    color: #ff6b4a;
}

.arrow {
    font-size: 22px;
    color: #111827;
}
